# Ignorar archivos y directorios específicos

# Ignorar archivos de log
*.log

# Ignorar directorios de dependencias de Node.js
node_modules/
.expo/

# Ignorar archivos y directorios generados por IDEs o editores de texto
.vscode/
.idea/
*.swp

# Ignorar archivos de configuración local
.env

# Ignorar archivos de construcción
/build
/dist

# Ignorar archivos de respaldo
*.bak
*.backup
