.table-container {
  position: absolute;
  top: 77px;
  left: 23.5px;
  width: 1259px;
  overflow: hidden;
}
.estaciones1,
.label-text {
  position: relative;
  font-weight: 500;
}
.estaciones1 {
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  flex-shrink: 0;
}
.label-text {
  letter-spacing: 0.1px;
  line-height: 20px;
}
.button-group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-group {
  flex-direction: row;
  padding: 5px;
}
.grid,
.header-grid {
  box-sizing: border-box;
  overflow: hidden;
}
.buttons-row2 {
  width: 195px;
  height: 46px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fff;
}
.grid,
.header-grid {
  position: absolute;
}
.header-grid {
  top: 10px;
  left: calc(50% - 629.5px);
  width: 1259px;
  height: 56px;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  align-items: center;
  justify-content: space-between;
}
.grid {
  top: 27px;
  left: 113px;
  border-radius: 16px;
  background-color: #d7e1f0;
  border: 1px solid #c4ccd0;
  width: 1306px;
  height: 401px;
}
.grid-container {
  position: relative;
  width: 1531px;
  height: 455px;
  flex-shrink: 0;
  overflow: hidden;
}
.grid-section {
  position: absolute;
  top: 389px;
  left: calc(50% - 776px);
  background-color: #f1f6ff;
  width: 1552px;
  height: 485px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.table-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 1259px;
  height: 300px;
  left: 23.5px;
  top: 77px;
}
.todas {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: 500;
}
.laber-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.all-radio,
.radio-container,
.state-layer {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.state-layer {
  width: 22px;
  height: 21px;
  padding: 8px;
  box-sizing: border-box;
  justify-content: center;
}
.all-radio,
.radio-container {
  overflow: hidden;
}
.radio-container {
  border-radius: 100px;
  width: 27px;
  height: 22px;
  justify-content: center;
}
.all-radio {
  width: 106px;
  height: 25px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 10px;
}
.radio-group,
.state-layer1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio-group {
  height: 31px;
  overflow: hidden;
  flex-direction: column;
  padding: 10px 0;
  box-sizing: border-box;
}
.state-layer1 {
  flex-direction: row;
  padding: 8px;
}
.active-radio,
.inactive-radio {
  height: 25px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-start;
  gap: 10px;
}
.active-radio {
  width: 116px;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.inactive-radio {
  width: 126px;
}
.button-group1,
.clean-button,
.inactive-radio,
.radios-row,
.search-button {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.radios-row {
  height: 44px;
  flex-direction: row;
  padding: 5px;
  justify-content: flex-start;
  gap: 5px;
}
.button-group1,
.clean-button,
.search-button {
  justify-content: center;
}
.clean-button {
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 90px;
  height: 38px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 10px 24px;
}
.button-group1,
.search-button {
  background-color: #d7e1f0;
  height: 48px;
  flex-direction: row;
  padding: 5px;
}
.search-button {
  border-radius: 100px;
  background-color: #7ea2d9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 90px;
  height: 38px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 10px 24px;
}
.button-group2,
.buttons-row1 {
  flex-direction: row;
  padding: 5px;
}
.button-group2 {
  background-color: #d7e1f0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.buttons-row1 {
  height: 53px;
  box-sizing: border-box;
  justify-content: flex-end;
  gap: 5px;
  font-size: 14px;
  color: #7ea2d9;
}
.buttons-container,
.buttons-row1,
.input-group {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.buttons-container {
  position: absolute;
  top: 168.5px;
  left: calc(50% - 485.5px);
  width: 967px;
  flex-direction: row;
  padding: 5px;
  box-sizing: border-box;
  justify-content: space-between;
}
.input-group {
  width: 222px;
  height: 66px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.inputs-row,
.inputs-row1 {
  position: absolute;
  top: 82.5px;
  left: 20.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.inputs-row1 {
  top: 6.5px;
}
.search-form {
  position: relative;
  border-radius: 16px;
  background-color: #d7e1f0;
  border: 1px solid #c4ccd0;
  box-sizing: border-box;
  width: 1012px;
  height: 242px;
  flex-shrink: 0;
  overflow: hidden;
}
.search-container,
.search-seaction {
  width: 1531px;
  height: 275px;
  overflow: hidden;
}
.search-seaction {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.search-container {
  position: relative;
  flex-shrink: 0;
}
.search-form-section {
  position: absolute;
  top: 94px;
  left: calc(50% - 776px);
  background-color: #f1f6ff;
  border-top: 1px solid #c4ccd0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  color: #49454f;
}
.estaciones2,
.solicitudes {
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  height: 20px;
}
.estaciones2 {
  position: relative;
  width: 105px;
  flex-shrink: 0;
}
.solicitudes {
  width: 95px;
}
.account-icon,
.dark-mode-icon,
.solicitudes {
  position: relative;
  flex-shrink: 0;
}
.dark-mode-icon {
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.account-icon {
  width: 43px;
  height: 41px;
}
.account-section {
  height: 43px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.navegation-menu,
.navegation-right {
  padding: 10px;
  justify-content: flex-end;
}
.navegation-menu {
  height: 51px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  gap: 10px;
}
.navegation-right {
  height: 66px;
  text-align: center;
}
.navegation-right,
.top-container,
.top-header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.top-container {
  width: 1523px;
  flex-shrink: 0;
  padding: 4px 8px;
  justify-content: space-between;
}
.top-header {
  position: absolute;
  top: 0;
  left: calc(50% - 776px);
  width: 1552px;
  padding: 10px;
  justify-content: center;
  text-align: left;
}
.estaciones {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 874px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: Product Sans Regular;
}
