.e-table-container {
  top: 77px;
  left: 23.5px;
  width: 1259px;
}
.e-estaciones1,
.e-label-text {
  position: relative;
  font-weight: 500;
}
.e-estaciones1 {
  position: relative;
  line-height: 32px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  flex-shrink: 0;
}
.e-label-text {
  letter-spacing: 0.1px;
  line-height: 20px;
}
.e-button-group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.e-button-group {
  flex-direction: row;
  padding: 5px;
}
.e-grid,
.e-header-grid {
  box-sizing: border-box;
  overflow: hidden;
}
.e-buttons-row2 {
  width: 195px;
  height: 46px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fff;
}
.e-grid,
.e-header-grid {
  position: absolute;
}
.e-header-grid {
  top: 10px;
  left: calc(50% - 629.5px);
  width: 1259px;
  height: 56px;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  align-items: center;
  justify-content: space-between;
}
.e-grid {
  top: 27px;
  left: calc(50% - 652.5px);
  border-radius: 16px;
  background-color: #d7e1f0;
  border: 1px solid #c4ccd0;
  width: 1306px;
  height: 401px;
}
.e-grid-container {
  position: relative;
  width: 1531px;
  height: 455px;
  flex-shrink: 0;
  overflow: hidden;
}
.e-grid-section {
  position: absolute;
  top: 389px;
  left: calc(50% - 776px);
  background-color: #f1f6ff;
  width: 1552px;
  height: 485px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.e-table-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  width: 1259px;
  height: 300px;
  left: 23.5px;
  top: 77px;
}
.e-todas {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: 500;
}
.e-laber-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.e-icon {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.e-all-radio,
.e-radio-container,
.e-state-layer {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.e-state-layer {
  width: 22px;
  height: 21px;
  padding: 8px;
  box-sizing: border-box;
  justify-content: center;
}
.e-all-radio,
.e-radio-container {
  overflow: hidden;
}
.e-radio-container {
  border-radius: 100px;
  width: 27px;
  height: 22px;
  justify-content: center;
}
.e-all-radio {
  width: 106px;
  height: 25px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 10px;
}
.e-radio-group,
.e-state-layer1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.e-radio-group {
  height: 31px;
  overflow: hidden;
  flex-direction: column;
  padding: 10px 0;
  box-sizing: border-box;
}
.e-state-layer1 {
  flex-direction: row;
  padding: 8px;
}
.e-active-radio,
.e-inactive-radio {
  height: 25px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-start;
  gap: 10px;
}
.e-active-radio {
  width: 116px;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.e-inactive-radio {
  width: 126px;
}
.e-button-group1
.e-inactive-radio,
.e-radios-row,
.e-radios-row {
  height: 44px;
  flex-direction: row;
  padding: 5px;
  justify-content: flex-start;
  gap: 5px;
}
.e-button-group1,
.e-button-group1,
.e-button-group2,
.e-buttons-row1 {
  flex-direction: row;
  padding: 5px;
}
.e-button-group2 {
  background-color: #d7e1f0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.e-buttons-row1 {
  height: 53px;
  box-sizing: border-box;
  justify-content: flex-end;
  gap: 5px;
  font-size: 14px;
  color: #7ea2d9;
}
.e-buttons-container,
.e-buttons-row1,
.e-input-group {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.e-buttons-container {
  position: absolute;
  top: 168.5px;
  left: calc(50% - 485.5px);
  width: 967px;
  flex-direction: row;
  padding: 5px;
  box-sizing: border-box;
  justify-content: space-between;
}
.e-input-group {
  width: 222px;
  height: 66px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.e-inputs-row,
.e-inputs-row1 {
  position: absolute;
  top: 82.5px;
  left: 20.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.e-inputs-row1 {
  top: 6.5px;
}
.e-search-form {
  position: relative;
  border-radius: 16px;
  background-color: #d7e1f0;
  border: 1px solid #c4ccd0;
  box-sizing: border-box;
  width: 1012px;
  height: 242px;
  flex-shrink: 0;
  overflow: hidden;
}
.e-search-container,
.e-search-seaction {
  width: 1531px;
  height: 275px;
  overflow: hidden;
}
.e-search-seaction {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.e-search-container {
  position: relative;
  flex-shrink: 0;
}
.e-search-form-section {
  position: absolute;
  top: 94px;
  left: calc(50% - 776px);
  background-color: #f1f6ff;
  border-top: 1px solid #c4ccd0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  color: #49454f;
}
.e-estaciones2,
.e-solicitudes {
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  height: 20px;
}
.e-estaciones2 {
  position: relative;
  width: 105px;
  flex-shrink: 0;
}
.e-solicitudes {
  width: 95px;
}
.e-account-icon,
.e-dark-mode-icon,
.e-solicitudes {
  position: relative;
  flex-shrink: 0;
}
.e-dark-mode-icon {
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.e-account-icon {
  width: 43px;
  height: 41px;
}
.e-account-section {
  height: 55px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.e-navegation-menu,
.e-navegation-right {
  padding: 10px;
  justify-content: flex-end;
}
.e-navegation-menu {
  height: 51px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  gap: 10px;
}
.e-navegation-right {
  height: 66px;
  text-align: center;
}
.e-navegation-right,
.e-top-container,
.e-top-header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.e-top-container {
  width: 1523px;
  flex-shrink: 0;
  padding: 4px 8px;
  justify-content: space-between;
}
.e-top-header {
  position: absolute;
  top: 0;
  left: calc(50% - 776px);
  width: 1552px;
  padding: 10px;
  justify-content: center;
  text-align: left;
}
.e-estaciones {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 874px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: Product Sans Regular;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  color: #000;
}
