.s-laber-container3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.s-icon3 {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.s-state-layer3 {
  width: 22px;
  height: 21px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.s-all-radio1,
.s-radio-container3,
.s-radio-group3 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.s-radio-container3 {
  border-radius: 100px;
  width: 27px;
  height: 22px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.s-all-radio1,
.s-radio-group3 {
  box-sizing: border-box;
}
.s-all-radio1 {
  width: 106px;
  height: 25px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-start;
  gap: 10px;
}
.s-radio-group3 {
  height: 31px;
  flex-direction: column;
  padding: 10px 0;
  justify-content: center;
}
.s-aprobadas {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: 500;
}
.s-state-layer4 {
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
.s-active-radio1 {
  width: 146px;
  height: 25px;
  flex-shrink: 0;
  padding: 10px;
  gap: 10px;
}
.s-active-radio1,
.s-inactive-radio1,
.s-radios-row1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.s-inactive-radio1 {
  width: 155px;
  height: 25px;
  flex-shrink: 0;
  padding: 10px;
  gap: 10px;
}
.s-radios-row1 {
  height: 44px;
  padding: 5px;
  gap: 5px;
}
.s-label-text3 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
}
.s-button-group3,
.s-button-group3,
.s-button-group4,
.s-buttons-row1 {
  flex-direction: row;
  padding: 5px;
}
.s-button-group4 {
  background-color: #d7e1f0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.s-buttons-row1 {
  height: 53px;
  box-sizing: border-box;
  justify-content: flex-end;
  gap: 5px;
  font-size: 14px;
  color: #7ea2d9;
}
.s-buttons-container1,
.s-buttons-row1,
.s-input-group4 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.s-buttons-container1 {
  position: absolute;
  top: 168.5px;
  left: calc(50% - 485.5px);
  width: 967px;
  flex-direction: row;
  padding: 5px;
  box-sizing: border-box;
  justify-content: space-between;
}
.s-input-group4 {
  width: 222px;
  height: 66px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.s-inputs-row2,
.s-inputs-row3 {
  position: absolute;
  top: 82.5px;
  left: 20.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.s-inputs-row3 {
  top: 6.5px;
}
.s-search-form1 {
  position: relative;
  border-radius: 16px;
  background-color: #d7e1f0;
  border: 1px solid #c4ccd0;
  box-sizing: border-box;
  width: 1012px;
  height: 242px;
  flex-shrink: 0;
  overflow: hidden;
}
.s-search-container1,
.s-search-seaction1 {
  width: 1531px;
  height: 275px;
  overflow: hidden;
}
.s-search-seaction1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.s-search-container1 {
  position: relative;
  flex-shrink: 0;
}
.s-search-form-section1 {
  position: absolute;
  top: 94px;
  left: calc(50% - 776px);
  background-color: #f1f6ff;
  border-top: 1px solid #c4ccd0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  color: #49454f;
}
.s-estaciones3,
.s-solicitudes2 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  width: 105px;
  height: 20px;
  flex-shrink: 0;
}
.s-solicitudes2 {
  width: 95px;
}
.s-dark-mode-icon1 {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
}
.s-account-icon1 {
  position: relative;
  width: 43px;
  height: 41px;
  flex-shrink: 0;
}
.s-account-section1 {
  height: 55px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.s-navegation-menu1 {
  height: 51px;
  padding: 10px;
  justify-content: flex-end;
  gap: 10px;
}
.s-navegation-menu1,
.s-navegation-right1,
.s-top-container1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.s-navegation-right1 {
  height: 66px;
  padding: 10px;
  justify-content: flex-end;
  text-align: center;
}
.s-top-container1 {
  width: 1523px;
  flex-shrink: 0;
  padding: 4px 8px;
  justify-content: space-between;
}
.s-table-container1,
.s-top-header1 {
  position: absolute;
  overflow: hidden;
}
.s-top-header1 {
  top: 0;
  left: calc(50% - 776px);
  width: 1552px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.s-table-container1 {
  top: 77px;
  left: 23.5px;
  width: 1259px;
}
.s-solicitudes3 {
  position: relative;
  line-height: 32px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  flex-shrink: 0;
}
.s-grid1,
.s-header-grid1 {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
}
.s-header-grid1 {
  top: 10px;
  left: calc(50% - 629.5px);
  width: 1259px;
  height: 56px;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  align-items: center;
  justify-content: flex-start;
}
.s-grid1 {
  top: 27px;
  left: calc(50% - 652.5px);
  border-radius: 16px;
  background-color: #d7e1f0;
  border: 1px solid #c4ccd0;
  width: 1306px;
  height: 401px;
}
.s-grid-container1 {
  position: relative;
  width: 1531px;
  height: 455px;
  flex-shrink: 0;
  overflow: hidden;
}
.s-grid-section1 {
  position: absolute;
  top: 389px;
  left: calc(50% - 776px);
  background-color: #f1f6ff;
  width: 1552px;
  height: 485px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.s-solicitudes1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 874px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: Product Sans Regular;
}
